// Custom scss styles
// https://just-the-docs.github.io/just-the-docs/docs/customization/#override-and-completely-custom-styles
.caption {
    color: gray;
    font-size: smaller;
    padding: 6px;
    display: block;
}
